* {
    margin: 0px;
    padding: 0px;
    color: #eee;
}
.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.App-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media only screen and (min-width: 600px) {
    .App-container {
        flex-direction: row;
    }
}
.help-hidden {
    display: none;
}
.predictions-table {
    height: 80vh;
    width: 250px;
    overflow-y: auto;
    border-collapse: collapse;
    text-align: center
}
.predictions-table thead {
    position: sticky;
    top: 0;
    background: rgb(66, 66, 66);
}
.Game {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 500px;
    user-select: none;
    overflow: hidden;
}
.RowL {
    display: flex;
    justify-content: center;
}
.Row-Left {
    display: flex;
    justify-content: flex-start;
}
.RowL-letter {
    margin: 2px;
    border: 2px solid  rgba(124, 124, 124, 0.69);
    width: 58px;
    height: 58px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    caret-color: transparent;
    cursor: pointer;
}
.letter-absent {
    background-color: #5a5a5a
}
.letter-elsewhere {
    background: repeating-linear-gradient(45deg,#e9c601,#e9c601 5px,#e9be01 0,#e9be01 10px);
}
.letter-correct {
    background-color: #57ac57;
}
.Suggestions-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 1rem;
    padding: 1rem;
}
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.3);
}
