<div class="predictions-table">
    <div class="information-container bg-dark d-flex justify-content-sm-around text-center align-self-center"
        style="height: 5%;">
        <div class="information text-primary" id="info">
            E(I) = {{info}} bits
        </div>
    </div>
    <table class="table table-striped table-hover table-dark">
        <thead class="thead-dark">
            <th>Word</th>
            <th>E(info)</th>
        </thead>
        <tbody class="table-response">
            {% for x in suggestions %}
            <tr>
                <td>{{x[0]}}</td>
                <td>{{x[1]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>